body{
    background-color: #eafcfc;
}
h1, h3{
    color: #66BFBF;
}
hr{
    background-color: white;
    border-style: none;
    border-width: 5px ;
    border-color: grey;
    border-top-style: dotted;
    width: 5%;
}
